<section class="vh-100" style="background-color: #508bfc">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <h3 class="mb-5">Registrate</h3>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="form-outline mb-4">
                <input
                  type="email"
                  id="typeEmailX-2"
                  class="form-control form-control-lg"
                  formControlName="email"
                  placeholder="ingrese email"
                />
                <label class="form-label" for="typeEmailX-2">Email</label>
              </div>

              <div class="form-outline mb-4">
                <input
                  type="password"
                  id="typePasswordX-2"
                  class="form-control form-control-lg"
                  formControlName="password"
                  placeholder="ingrese password"
                  (change)="onPasswordChange()"
                />
                <label class="form-label" for="typePasswordX-2">Password</label>
              </div>

              <div class="form-outline mb-4">
                <input
                  type="password"
                  id="typePasswordX-2"
                  class="form-control form-control-lg"
                  formControlName="repetirPassword"
                  placeholder="repetir password"
                  (change)="onPasswordChange()"
                />
                <label class="form-label" for="typePasswordX-2"
                  >Repetir Password</label
                >
              </div>
              <div>
                <span
                  style="margin-bottom: 10px; margin-top: 10px"
                  role="alert"
                  *ngIf="confirm_password.hasError('mismatch')"
                  class="alert alert-danger"
                  >Las passwords no coinciden</span
                >
              </div>
              <div>
                <button
                  class="btn btn-primary btn-lg btn-block"
                  type="submit"
                  [disabled]="confirm_password.hasError('mismatch')"
                  style="margin-top: 25px"
                >
                  Registrarse
                </button>
              </div>
            </form>
            <hr class="my-4" />
            <div>
              <p>
                Toca aqui para volver al
                <a href="login">Login</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
